/* 
    Document   : style
    Created on : 2013-maj-06, 20:53:31
    Author     : Jonathan
    Description:
        Core theme for Muffin
*/

/**
* Structure
*/
html{}
body{
   background-color:#eee;
   font: 1em Verdana, Arial, Helvetica, sans-serif;
}

/**
*	Colors
*
*/
#header {
background-color:#57C539;}
#main {
background-color: #A5C33B;}
#footer {
background-color: #C0933E;}


#header {
	text-align: center;
}
#header img {
	margin: 0 auto;
}


#header,
#main,
#footer {
   margin:0 auto;
   width:970px;
   padding: 1em;
}